<div class="container-fluid">
    <div class="card text-white bg-dark p-5 animated fast">
        <div class="h1 display-1 text-primary animated fadeIn"> Comic App </div>
        <p class="lead text-warning animated fadeIn"> Esta es una aplicación de comics. </p>
    </div>
    <div class="carousel slide mt-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/vengadores.jpg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/dc-comics.jpg" class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/dcvsmarvel.jpg" class="d-block w-100 rounded" alt="...">
          </div>
        </div>
      </div>
</div>